.article h1 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
.article h2 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
.article h3 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
.article h4 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

.person .name { font-weight: bolder;}
.person .role { font-size: 90%;}

img {
	max-width:100%;
	border: 1px grey solid;
}

#example-grid .columns, #example-grid .column{
	background-color: #eee;
	border-radius: 4px;
	margin-bottom: 3px;
	border: 1px #aaa solid;
	padding: 2px;
}

body {
    background-color: yellow;
}

.button {
   background-color: white;
}

.white-container {
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
}

.blue-container {
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	background-color: #19E8FF;
}
