extends layout.jade

block content
	h3 Grid Examples
	div#example-grid
		div.row
			div.three.columns Three
			div.three.columns Three	
			div.three.columns Three	
			div.three.columns Three	
		div.row
			div.two.columns Two
			div.two.columns Two
			div.two.columns Two
			div.two.columns Two
			div.two.columns Two
			div.two.columns Two
		div.row
			div.one.column One
			div.eleven.columns Eleven
		div.row
			div.one.column name
			div.eleven.columns some information
		div.row
			div.three.columns Three
			div.nine.columns
				div.row
					div.four.columns Four
					div.eight.columns Eight
				div.row
					div.four.columns Four
					div.four.columns Four
					div.four.columns Four
				div.row
					div.three.columns Three
					div.three.columns Three
					div.three.columns Three
					div.three.columns Three
		div.row
			div.three.columns Picture
			div.nine.columns
				div.row
					div.four.columns username
					div.eight.columns John Smith
				div.row
					div.four.columns Favorite 1
					div.four.columns Favorite 2
					div.four.columns Favorite 3
				div.row
					div.three.columns Friend 1
					div.three.columns Friend 2
					div.three.columns Friend 3
					div.three.columns Friend 4				
