extends layout.jade

block content
    each item in contents.data['doctors.json'].metadata     
        div.row
            div.eight.columns
               a(href='view/doctor.html')
                    = item.name
            div.four.columns
                if (item.attributes["By Appointment Only"])
                    | By Appointment Only
