extends layout.jade

block content
	table.u-full-width
		tr
			th Categories
			th Reviews
		tbody
		each item in contents.data['tips.json'].metadata     
			tr
				td= "Food"
				td
					b
						a(href='view/tip.html')
							= item.text
					br