extends layout.jade

block content
  table.u-full-width
    thead
      tr
        th Restaurant
        th Stars
    tbody
    each item in contents.data['restaurants.json'].metadata     
      tr
        td
          b
           a(href='view/restaurant.html')
            =item.name
          br
        td= item.stars

