div.columns.twelve
    a.button(href='restaurants.html', style="width:15%") Restaurants
    a.button(href='doctors.html', style="width:14%") Doctors
    a.button(href='tips.html', style="width:14%") Tips
    a.button(href='users.html', style="width:14%") Users
    a.button(href='grid.html', style="width:14%") Grid
    a.button(href='data/', style="width:14%") Data
    a.button(href='design/', style="width:14%") Design
