extends layout

block content
    // display the detail of the first item
    - var item = contents.data['doctors.json'].metadata[0]
     h3(style='color: red; text-align: center')= item.name
    div.row
        img(src='images/docone.jpg')
        div.two.column city
         p= item.city
        div.two.column state
        div.two.columns= item.state
