extends layout

block content
    // display the detail of the first item
    - var item = contents.data['tips.json'].metadata[0]
    div.row
        div.quote-text= item.text
    div.row
        div.offset-by-six.columns.attribution= "-"+item.user_id
