extends layout

block content
    // display the detail of the first item
    - var item = contents.data['tips.json'].metadata[0]
    div.row
        div.one.column Tip
        div.elevent.columns= item.text
    div.row
        div.one.column By
        div.four.column= item.user_id
