extends layout

block content
    - var item = contents.data['restaurants.json'].metadata[0]
    h3= item.name
    div.row
        div.one.column city
        div.three.columns= item.city
        div.one.column state
        div.three.columns= item.state
    | &nbsp;
    div.row 
        div.three.columns = "image"
    | &nbsp;
    each item in contents.data['users.json'].metadata
        div.row
            div.four.columns
                a(href='view/user.html')
                    = item.name
            div.two.columns 
                = 'comment/review'
            div.two.columns(style='color:black')
                h4 &#10029&#10029&#10029
                
