extends layout

block content
	// display the detail of the first item
	- var item = contents.data['tips.json'].metadata[0]
	div.four.columns Name of Restuarant
	div#example-grid
		div.eight.columns= item.text 
			br
			span.padded - #{item.user_id}
