extends layout

block content
    - var item = contents.data['restaurants.json'].metadata[0]
      div.row
      div.seven.columns
        b=item.name 
        span= ' | ' + item.city + ', ' + item.state
      div.seven.columns= item.full_address
      div.seven.columns= 'Stars: ' + item.stars + '\n'
       //span= ' | ' + item. + ' | ' + item.
      div.three.columns
        img(src='design/restaurant.png')
    br
        

