extends layout

block content
    - var item = contents.data['doctors.json'].metadata[0]
    h3(style='text-align: center')= item.name
    div.row(style='text-align: center')
        div.twleve.columns= item.city + ', ' + item.state
    | &nbsp;
    div.row(style='text-align: center')
        img(src='images/doctor.jpg')

    | &nbsp;
    h4(style='text-align: center; opacity: .5') Reviews
    each item in contents.data['users.json'].metadata
        div.row
            div.three.columns
                p= item.name
            div.eight.columns 
                = 'comment/review'
            div.one.columns
                &#10029&#10029&#10029&#10029
