extends layout

block content
    - var item = contents.data['restaurants.json'].metadata[0]
    h3(style='text-align: center')= item.name
    div.row(style='text-align: center')
        div.twleve.columns= item.city + ', ' + item.state
    | &nbsp;
    div.row(style='text-align: center')
        img(src='images/rest.png')
    | &nbsp;
    h4(style='text-align: center; opacity: .5') Reviews
    each item in contents.data['users.json'].metadata
        div.row
            div.four.columns
                p= item.name
            div.two.columns 
                = 'comment/review'
            div.two.columns(style='color:black')
                h4 &#10029&#10029&#10029
                
